<div class="character-importer">
    <p>Adicione o json do personagem gerado no ODO. (Adicione <i>.json</i> no fim da url) </p>
    <textarea id="character-importer-textarea" data-dtype="String" rows="30">{{character-importer}}</textarea>
    <div class="button-row">
        <button type="submit" class="button cancel-button" name="cancel" value="1">Cancelar</button>
        <button type="submit" class="button character-importer-button" name="character-importer" value="1">Importar</button>
    </div>
</div>
