<div class="character-importer">
    <p>Adicione o link da página do personagem no ODO (só copiar da URL no browser ou copiar via o botão "Compartilhar") </p>
    <input name="character-importer" id="character-importer-url-text" type="text">{{character-importer}}</input>
    <div class="button-row">
        <button type="submit" class="button cancel-button" name="cancel" value="1">Cancelar</button>
        <button type="submit" class="button character-importer-button" name="character-importer" value="1">Importar</button>
    </div>
</div>
