<a class="item-edit text-lg" title="{{localize 'olddragon2e.open'}}">{{name}}</a>
<a class="item-edit" title="{{localize 'olddragon2e.edit'}}"><i class="fa-solid fa-pen-to-square"></i></a>
<a class="item-delete" title="{{localize 'olddragon2e.delete'}}"><i class="fa-solid fa-trash"></i></a>