.olddragon2e.sheet.character {
  .character-tab-spells {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;

    .spell {
      width: 100%;

      .list {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.25rem;
        width: 100%;
        padding: 2.5px 5px;
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
        background-color: @carmesim-600;
        color: white;
        font-size: smaller;
        font-weight: bold;

        .memorized {
          flex-basis: 3%;

          i.fa-solid.fa-brain {
            padding-left: 0.5px;
          }
        }

        .slots {
          flex-basis: 5.6%;
        }

        .daily-uses {
          flex-basis: 7.6%;
        }

        .name {
          flex-basis: 24%;
        }

        .school {
          flex-basis: 5.9%;
        }

        .range {
          flex-basis: 12%;
        }

        .duration {
          flex-basis: 10.2%;
        }

        .jp {
          flex-basis: 9%;
        }

        .damage {
          flex-basis: 9%;
        }

        .create {
          flex-basis: 7%;
          text-align: right;

          a:hover {
            text-decoration: underline;
          }
        }
      }

      .circle {
        padding: 2.5px 5px;
        background-color: rgba(85, 85, 85, 0.25);
        font-size: smaller;
        font-weight: bold;
      }

      ol {
        width: 100%;
        margin: 0px;
        padding: 0px;
        list-style-type: none;

        li {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 0.25rem;
          width: 100%;
          margin-bottom: 0.1rem;
          padding: 2.5px 2.5px;
          background-color: rgba(128, 128, 128, 0.25);
          font-size: smaller;

          a:hover {
            text-shadow: none;
            color: @carmesim-600;
          }

          .spell-memorized {
            input[type='checkbox'].memorized-toggle {
              appearance: none;
              -webkit-appearance: none;
              -moz-appearance: none;

              margin: 0px;
              display: flex;
              flex-direction: column;
              position: relative;
              width: 19px;
              height: 19px;
              border: 1px solid #666;
              border-radius: 3px;
              background-color: transparent;
              cursor: pointer;
            }

            input[type='checkbox'].memorized-toggle:checked {
              background-color: @carmesim-600;
              border-color: @carmesim-600;
            }

            input[type='checkbox'].memorized-toggle:checked::after {
              content: '';
              position: absolute;
              top: 50%;
              left: 50%;
              width: 12px;
              height: 12px;
              transform: translate(-50%, -50%);
              background-color: white;
              mask: url('../assets/icons/brain.svg') no-repeat center / contain;
              -webkit-mask: url('../assets/icons/brain.svg') no-repeat center / contain;
              pointer-events: none;
            }
          }

          .spell-slots {
            select.slots-select {
              padding: 0px;
              height: 20px;
            }
          }

          .spell-daily-uses {
            margin: 0px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 0.25rem;

            input[type='checkbox'].spell-use-checkbox {
              appearance: none;
              -webkit-appearance: none;
              -moz-appearance: none;

              margin: 0px;
              flex: none;
              position: relative;
              width: 12px;
              height: 12px;
              border: 1px solid #666;
              border-radius: 100%;
              background-color: transparent;
              cursor: pointer;
            }

            input[type='checkbox'].spell-use-checkbox:checked {
              background-color: @carmesim-600;
              border-color: @carmesim-600;
            }

            input[type='checkbox'].spell-use-checkbox:checked::after {
              content: '';
              position: absolute;
              top: 50%;
              left: 50%;
              width: 6px;
              height: 6px;
              transform: translate(-50%, -50%);
              border-radius: 50%;
              background-color: white;
            }
          }

          .spell-memorized {
            flex-basis: 3.2%;
          }

          .spell-slots {
            flex-basis: 5.6%;
          }

          .spell-daily-uses {
            flex-basis: 7.5%;
          }

          .spell-name {
            flex-basis: 24%;
            font-weight: bold;
          }

          .spell-school {
            flex-basis: 5.8%;
            display: flex;
            gap: 0.15rem;

            .spell-school-tag {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 16px;
              height: 16px;
              border-radius: 100%;
              font-family: 'Alegreya Sans', sans-serif;
              font-size: x-small;
              font-weight: bold;
              color: white;
            }

            .arcane-tag {
              background-color: @arcane;
            }

            .divine-tag {
              background-color: @divine;
              color: black;
            }

            .necromancer-tag {
              background-color: @necromancer;
            }

            .illusionist-tag {
              background-color: @illusionist;
            }
          }

          .spell-range {
            flex-basis: 12%;
          }

          .spell-duration {
            flex-basis: 10%;
          }

          .spell-jp {
            flex-basis: 9%;
          }

          .spell-damage {
            flex-basis: 9%;
          }

          .item-controls {
            flex-basis: 7%;
            text-align: right;
          }
        }
      }
    }
  }
}
