.border {
  border: 1px solid gray;
  border-radius: 0.25rem;
}

.border-button {
  padding: 2px;
  border: 1px solid gray;
  border-radius: 0.25rem;
}

.border-button:hover {
  color: @carmesim-600;
  border-color: @carmesim-600;
}

.font-bold {
  font-weight: bold;
}

.hidden {
  display: none;
}

.italic {
  font-style: italic;
}

.lowercase {
  text-transform: lowercase;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.text-2xs {
  font-size: 0.625rem;
  line-height: 0.75rem;
}

.underline {
  text-decoration-line: underline;
}

.uppercase {
  text-transform: uppercase;
}
