{{!-- Basic Foundry VTT dice roll template --}}
{{> "templates/dice/roll.html"}}
{{!-- in a success... --}}
<h2 class="uppercase">{{localize "olddragon2e.success"}}!</h2>
{{!-- in a failure... --}}
<h2 class="uppercase">{{localize "olddragon2e.failure"}}</h2>
