<div class="class-tab-about">
    {{!-- Flavor --}}
    <div class="class-flavor">
        <label class="tab-title">{{localize "olddragon2e.class_flavor"}}</label>
        {{editor system.flavor target="system.flavor" button=true owner=owner editable=editable}}
    </div>
    {{!-- Descrição --}}
    <div class="class-description">
        <label class="tab-title">{{localize "olddragon2e.class_description"}}</label>
        {{editor system.description target="system.description" button=true owner=owner editable=editable}}
    </div>
</div>