<div class="monster-tab-skills">
    {{!-- Habilidades --}}
    <div class="skills">
        <label class="tab-title">{{localize "olddragon2e.described_attacks"}}</label>
        {{editor system.described_attacks target="system.described_attacks" button=true owner=owner editable=editable}}
    </div>
</div>
