<div class="race-tab-about">
    {{!-- Flavor --}}
    <div class="race-flavor">
        <label class="tab-title">{{localize "olddragon2e.race_flavor"}}</label>
        {{editor system.flavor target="system.flavor" button=true owner=owner editable=editable}}
    </div>
    {{!-- Descrição --}}
    <div class="race-description">
        <label class="tab-title">{{localize "olddragon2e.race_description"}}</label>
        {{editor system.description target="system.description" button=true owner=owner editable=editable}}
    </div>
</div>