<div class="race-tab-abilities">
    <ol class="item-list">
        {{#each race_abilities as |race_ability|}}
        <li class="item" data-item-uuid="{{race_ability.uuid}}">
            {{> "systems/olddragon2e/templates/partials/cards/race_ability-card.hbs" race_ability}}
        </li>
        {{/each}}
        {{#unless race_abilities}}
        <p class="text-center">As Habilidades de Raça devem ser adicionadas aqui.</p>
        {{/unless}}
    </ol>
</div>