<div class="race-ability-tab-about">
    <label class="tab-title">{{localize "olddragon2e.race_ability_description"}}</label>
    {{editor system.description target="system.description" button=true owner=owner editable=editable}}
</div>